!include ../my.cnf

[mysqld.3]
log-bin=                    master-bin
relay-log=                  slave-relay-bin
log-replica-updates
skip-replica-start

loose-innodb_write_io_threads=    2
loose-innodb_read_io_threads=     2

[ENV]
SERVER_MYPORT_3=            @mysqld.3.port
SERVER_MYSOCK_3=            @mysqld.3.socket
