[mysqld]
basedir=..
datadir=/home/kamil/repo/ps/8.0/install/ps-node/dn1
port=4000
socket=/tmp/bs_demo_n1.sock
mysqlx_socket=/tmp/bs_demo_n1x.sock
mysqlx-port=4001
secure-file-priv=""

gtid-mode=ON
enforce-gtid-consistency=ON
server_id=1
report_host=127.0.0.1
report_port=4000
log_bin=src1-bin
binlog_format=ROW

loose_mysql_native_password=ON
loose_percona_telemetry_disable=1
plugin-dir=/home/kamil/repo/ps/8.0/bld/plugin_output_directory

[mysql]
prompt=source_1>\_
