[mysqld]
basedir=..
datadir=/home/kamil/repo/ps/8.0/install/ps-node/dn2
port=5000
socket=/tmp/bs_demo_n2.sock
mysqlx_socket=/tmp/bs_demo_n2x.sock
mysqlx-port=5001
secure-file-priv=""

gtid-mode=ON
enforce-gtid-consistency=ON
server_id=2
report_host=127.0.0.1
report_port=5000
log_bin=src2-bin
binlog_format=ROW

loose_mysql_native_password=ON
loose_percona_telemetry_disable=1
plugin-dir=/home/kamil/repo/ps/8.0/bld/plugin_output_directory

[mysql]
prompt=source_2>\_
