[mysqld]
basedir=..
datadir=/home/kamil/repo/ps/8.0/install/ps-node/dn3
port=6000
socket=/tmp/bs_demo_n3.sock
mysqlx_socket=/tmp/bs_demo_n3x.sock
mysqlx-port=6001
secure-file-priv=""

gtid-mode=ON
enforce-gtid-consistency=ON
server_id=3
report_host=127.0.0.1
report_port=6000
log_bin=binlog
binlog_format=ROW

loose_mysql_native_password=ON
loose_percona_telemetry_disable=1
plugin-dir=/home/kamil/repo/ps/8.0/bld/plugin_output_directory

loose_binlog_server.default_storage_uri=file:///home/kamil/repo/ps/8.0/install/ps-node/dn3/bs_storage/
loose_binlog_server.default_serve_channel=
loose_binlog_server.user_channel_map=
loose_binlog_server.encryption=OFF
loose_binlog_server.storage_root=
loose_binlog_server.trace_send_path=OFF

[mysql]
prompt=binlog_server>\_
