[mysqld]
basedir=..
datadir=/home/kamil/repo/ps/8.0/install/ps-node/dn4
port=7000
socket=/tmp/bs_demo_n4.sock
mysqlx_socket=/tmp/bs_demo_n4x.sock
mysqlx-port=7001
secure-file-priv=""

gtid-mode=ON
enforce-gtid-consistency=ON
server_id=4
report_host=127.0.0.1
report_port=7000
log_bin=binlog
binlog_format=ROW
log_replica_updates=ON
skip-replica-start

loose_mysql_native_password=ON
loose_percona_telemetry_disable=1
plugin-dir=/home/kamil/repo/ps/8.0/bld/plugin_output_directory

[mysql]
prompt=replica_1>\_
