[mysqld]
basedir=..
datadir=/home/kamil/repo/ps/8.0/install/ps-node/dn5
port=8000
socket=/tmp/bs_demo_n5.sock
mysqlx_socket=/tmp/bs_demo_n5x.sock
mysqlx-port=8001
secure-file-priv=""

gtid-mode=ON
enforce-gtid-consistency=ON
server_id=5
report_host=127.0.0.1
report_port=8000
log_bin=binlog
binlog_format=ROW
log_replica_updates=ON
skip-replica-start

loose_mysql_native_password=ON
loose_percona_telemetry_disable=1
plugin-dir=/home/kamil/repo/ps/8.0/bld/plugin_output_directory

[mysql]
prompt=replica_2>\_
